1. What are data structures, and why are they important?
Answer: Data structures are ways of organizing and storing data so that it can be accessed and modified efficiently. They are important because they help manage large amounts of data, support efficient algorithms, and enable code reuse and modularity.

2. Explain the difference between mutable and immutable data types with examples.
Answer:
•	Mutable data types can be changed after creation. Example: list, dict, set.
•	my_list = [1, 2, 3]
•	my_list[0] = 10  # List is changed
•	my_list = [10, 2, 3]

•	Immutable data types cannot be changed once created. Example: int, str, tuple.
•	my_str = "hello"
•	my_str[0] = 'H'  # This will cause an error

3. What are the main differences between lists and tuples in Python?
Answer:
•	Lists are mutable, while tuples are immutable.
•	Lists use square brackets [], tuples use parentheses ().
•	Tuples are generally faster and use less memory than lists.

4. Describe how dictionaries store data.
Answer: Dictionaries store data in key-value pairs. Each key is unique, and it maps to a value.

5. Why might you use a set instead of a list in Python?
Answer: Sets are used when you want to store unique values and don’t care about the order. They are also faster than lists for checking membership using the in keyword.

6. What is a string in Python, and how is it different from a list?
Answer: A string is a sequence of characters and is immutable. A list is a sequence of elements and is mutable. Also, string elements must be characters, while list elements can be of any data type.

7. How do tuples ensure data integrity in Python?
Answer: Since tuples are immutable, their values cannot be altered after creation, which helps maintain the integrity of fixed data, like coordinates or configuration settings.

8. What is a hash table, and how does it relate to dictionaries in Python?
Answer: A hash table is a data structure that maps keys to values using a hash function. Python dictionaries are implemented using hash tables, which allows for average O(1) time complexity for lookups.

9. Can lists contain different data types in Python?
Answer: Yes, Python lists can contain elements of different data types. For example:
my_list = [1, "apple", 3.14, True]

10. Explain why strings are immutable in Python.
Answer: Strings are immutable to ensure thread safety, enable hash-based structures (like dictionaries), and allow internal optimizations like string interning for memory efficiency.

11. What advantages do dictionaries offer over lists for certain tasks?
Answer: Dictionaries allow fast lookup using keys (O(1) average time), while lists require linear time (O(n)) for searching. Dictionaries are ideal for when you want to associate values with unique identifiers.

12. Describe a scenario where using a tuple would be preferable over a list.
Answer: Use a tuple when you want to store fixed, unchangeable data, such as coordinates ((x, y)) or days of the week. Tuples can also be used as keys in dictionaries, while lists cannot.

13. How do sets handle duplicate values in Python?
Answer: Sets automatically remove duplicates. If you add a duplicate value, it will be ignored.
s = {1, 2, 2, 3}
print(s)  # Output: {1, 2, 3}

14. How does the “in” keyword work differently for lists and dictionaries?
Answer:
•	For lists, in checks if a value exists in the list.
•	For dictionaries, in checks if a key exists (not the value).

15. Can you modify the elements of a tuple? Explain why or why not.
Answer: No, tuples are immutable. Once created, their elements cannot be modified. Attempting to do so will raise a TypeError.

16. What is a nested dictionary, and give an example of its use case.
Answer: A nested dictionary is a dictionary within a dictionary. It's useful for storing hierarchical data.
Example:
student = {
  'name': 'Sadhana',
  'grades': {'math': 90, 'science': 88}
}

17. Describe the time complexity of accessing elements in a dictionary.
Answer: The average time complexity for accessing elements in a dictionary is O(1) due to hash table implementation.

18. In what situations are lists preferred over dictionaries?
Answer: Lists are preferred when the order of elements matters or when you only need to store values without associating them with specific keys.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
Answer: In versions before Python 3.7, dictionaries didn’t maintain insertion order. From Python 3.7+, they do. However, their primary purpose is key-based access, not sequence access like lists, so retrieval by position isn’t possible.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
Answer:
•	Lists retrieve data by index (position).
•	Dictionaries retrieve data by key (name/identifier).
Dictionaries are faster for lookup by key, while lists are simpler for ordered data.

In [ ]:
# 1. Write a code to create a string with your name and print it
Name = "Sadhana"
print(f'My name is : {Name}')

My name is : Sadhana

In [ ]:
# 2. Write a code to find the length of the string "Hello World"
string = "Hello world!"
print(f'length of string Hello world! is: {len(string)}')

# we can use for loop
count =0
for i in string:
  count+=1
print(f'length of string Hello world! is: {count}')

length of string Hello world! is: 12
length of string Hello world! is: 12

In [ ]:
#  3. Write a code to slice the first 3 characters from the string "Python Programming"
string = "Python Programming"

print(string[0:3])

Pyt

In [ ]:
# 4 Write a code to convert the string "hello" to uppercase
string = "hello"
print(string.upper())
print(string.swapcase()) ## It changes lower letter to upper and upper letter to lower

HELLO
HeLLO

In [ ]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

string = 'I like apple'
print(string.replace('apple', 'orange'))
print(string) ## As string is immutable original string will not change

I like orange
I like apple

In [ ]:
# 6 Write a code to create a list with numbers 1 to 5 and print it
list = []
for i in range (1,6):
  list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [ ]:
# '7. Write a code to append the number 10 to the list [1, 2, 3, 4]

list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1, 2, 3, 4, 5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list = ['a', 'b', 'c', 'd']
print(list[1])

b

In [ ]:
# 10 Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10, 20, 30, 40, 50]
reversed_list=[]
for i in range(len(list)-1,-1,-1):
  reversed_list.append(list[i])

  # list.append
print(reversed_list)

# we can also use reversed function to reverse the list

list = [10, 20, 30, 40, 50]
reversed_list=[]
list.reverse()
reversed_list = list
print(reversed_list)

# we can also use backward slicing to reverse the list

list = [10, 20, 30, 40, 50]
reversed_list=[]
reversed_list = list[::-1]
print(reversed_list)

[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]
[50, 40, 30, 20, 10]

In [ ]:
# (# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [ ]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')

print(tuple[len(tuple)-2])

blue

In [ ]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tuple = (10, 20, 5, 15)
print(min(tuple))


# # we can also do it using for loop
min =tuple[0]
for i in range(1,len(tuple)):
    if tuple[i]<min:
      min = tuple[i]
print((f'minimum number in {tuple} is {min}'))

5
minimum number in (10, 20, 5, 15) is 5

In [ ]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple = ('dog', 'cat', 'rabbit')
for i in range(0,len(tuple)-1):
  if tuple[i] == 'cat':
    print(f'index of "cat" is {i}')

index of "cat" is 1

In [ ]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits= ('banana', 'mango', 'kiwi', 'apple')

if 'kiwi' in fruits:
    print(f'kiwi is there in {fruits}')
else:
    print(f'kiwi is not there in {fruits}')

kiwi is not there in ('banana', 'mango', 'kiwi', 'apple')

In [ ]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

S = {'a', 'b', 'c'}
print(S)

{'a', 'c', 'b'}

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

S = {1, 2, 3, 4, 5}
S.clear()
print(S)

set()

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

S = {1, 2, 3, 4}

S.remove(4)
print(S)

{1, 2, 3}

In [ ]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

S1 ={1,2,3}
S2 = {3,4,5}
Union_of_sets = S1|S2
print(f'intersection of two sets is {Union_of_sets}')
S1.union(S2) ## can also use this method

intersection of two sets is {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [ ]:
# 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
S1 ={1, 2, 3}
S2 = {2, 3, 4}
intersection_of_sets = S1&S2
print(f'intersection of two sets is {intersection_of_sets}')
S1.intersection(S2) ## can also use this method

intersection of two sets is {2, 3}

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

d= {'name': 'Sadhana', 'age': 30, 'city': 'Pune'}

print(d)

{'name': 'Sadhana', 'age': 30, 'city': 'Pune'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}
d1 = {'Country': 'USA'}
d.update(d1)
print(d)

# another method
d = {'name': 'John', 'age': 25}
d['Country']= 'USA'
print(d)

{'name': 'John', 'age': 25, 'Country': 'USA'}
{'name': 'John', 'age': 25, 'Country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

d= {'name': 'Alice', 'age': 30}
print(f'value associated to key "name" is : {d["name"]}')

value associated to key "name" is : Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(f'dictionary after removing the key age and its value is {d}')

dictionary after removing the key age and its value is {'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d = {'name': 'Alice', 'city': 'Paris'}
for i in d:
  if i == 'city':
    print('city is there in dictionary')
    break
else:
    print('city is not there in dictionary')

city is there in dictionary

In [ ]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.

L = [3,2,'sadhana', 2.4]
T = (3,2,'sadhana', 2.4)
D  = {'name':'Sadhana','age':30,'city':'pune'}

print(f'list is  : {L}')
print(f'tuple is  : {T}')
print(f'dictionary is  : {D}')

list is  : [3, 2, 'sadhana', 2.4]
tuple is  : (3, 2, 'sadhana', 2.4)
dictionary is  : {'name': 'Sadhana', 'age': 30, 'city': 'pune'}

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random


L=[]
for i in range(1,6):
  num = random.randint(1, 100)
  L.append(num)
  L.sort()
print(L)

[4, 5, 19, 42, 47]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
L = ['Sadhana','Smita', 'Suchita', 'Surekha', 'Santosh']
print(f'element at 3rd index is {L[3]}')

element at 3rd index is Surekha

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.

D1 = {'name':'sadhana', 'class':5}
D2 ={'div': 'B', 'roll_no': 11}

D1.update(D2) ## update function to add D2 in D1
print(D1)

{'name': 'sadhana', 'class': 5, 'div': 'B', 'roll_no': 11}

In [1]:
# 30. Write a code to convert a list of strings into a set.
L = ['Sadhana','Smita', 'Suchita', 'Surekha', 'Santosh', 'Smita', 'Santosh', 'sadhana']

S = set(L)
print(S)

{'Surekha', 'sadhana', 'Santosh', 'Smita', 'Suchita', 'Sadhana'}